/* CSS DO CONTEÚDO DA PÁGINA PRINCIPAL */
.section-empresas {
    display: flex;
    justify-content: space-around;
}

.div-empresa {
    text-align: center;
}

.div-empresa h2{
    height: 40px !important;
}

.div-empresa p{
    height:200px;
}

.div-empresa-img img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.btn-produto:hover {
    background: #ffffff;
}