/* CSS DO CONTEÚDO DA PÁGINA PRINCIPAL */
.section-empresas {
    display: flex;
    justify-content: space-around;
}

.div-empresa {
    text-align: center;
    /*border: 1px solid black;
    border-radius: 5px;*/
    margin-bottom:20px;
}

.div-empresa h2{
    height: 80px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-empresa .descricao{
    height:200px;
    overflow-y: auto;
}

.div-empresa-img img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.btn-produto {
    border: 0.5;
    border-radius: 5px;
    background: rgb(204,254,216);
    background: linear-gradient(90deg, rgba(204,254,216,1) 0%, rgba(149,186,254,1) 100%);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    color:black !important;
}

.btn-produto:hover{
    background: rgb(204, 207, 254);
    background: linear-gradient(90deg, rgb(183, 255, 199) 0%, rgb(122, 168, 255)100%);
}
